<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mr社区</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" th:href="@{css/community.css}" href="../static/css/community.css">
    <link rel="stylesheet" th:href="@{css/site.min.css}" href="../static/css/site.min.css">

    <script type="text/javascript" th:src="@{js/jquery-3.4.1.min.js}" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header mynavbar">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mr社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right mynavbar">
                <li><a th:href="@{/publish}">发布</a></li>
                <li class="dropdown" th:if="${session.user} ne null">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getId()}"> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人页面</a></li>
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user} eq null"><a
                        href="https://github.com/login/oauth/authorize?client_id=672a4dd92a6ec049abe5&redirect_uri=http://localhost:8080/callback&scop=user&state=1">登录</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>

<div class="middle">
    <div class="projects-header page-header">
    </div>

    <div class="container projects main">

        <div class="row">
            <!--页面主体左边-->
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
                </div>
                <hr>
                <div class="media" th:each="question : ${pages.getQuestionDTOS()}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}" src="../static/img/background.png" height="38" width="38" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${question.title}">如何学习SpringBoot</h4>
                        [[ ${question.description}]]
                        • [[${question.commentCount}]] 个评论 • [[${question.viewCount}]] 次浏览 •  [[${#dates.format(question.gmtCreate,'dd MMMM yyyy')}]]
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination" >
                        <li th:if="${pages.getShowFirstPage()}">
                            <a th:href="@{/(page=1)}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pages.getShowPrevious()}">
                            <a th:href="@{/(page=${pages.getPage()-1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${pages.getPages()}" th:class="(${page} eq ${pages.getPage()})? 'active': ''"><a th:href="@{/(page=${page})}" th:text="${page}">1</a></li>
                        <li th:if="${pages.getShowNext()}">
                            <a th:href="@{/(page=${pages.getPage()+1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pages.getShowEndPage()}">
                            <a th:href="@{/(page=${pages.getTotalPage()})}" aria-label="Next">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!--页面主体右侧-->
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h2>问题发起指南</h2>
                <hr>
                + 问题标题：请用精简的语言描述您发布的问题，不超过25字 <br>
                + 问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关资料 <br>
                + 选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字 <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>